.heading{
    margin: 10px;
    color: forestgreen;
}

.resetTodo{
    background-color: rgb(192, 12, 12);
    color: white;
    width: 150px;
    height: 40px;
    position: absolute;
    top: 1%;
    right: 2%;
}

.resetTodo:hover{
    background-color: rgb(245, 20, 20);

}



.CompleteTodoList{
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
    width: 90%;
    height: 470px;
    margin: auto;
    margin-bottom: 50px;
    border: 1px solid grey;
}


/* Media Query */
@media screen and (max-width:850px) {
    .heading{
        font-size: 1.3rem;
    }
    .resetTodo{
        
        width: 100px;
        height: 35px;
    }
}
